<nav class="bg-gray-800 h-[100px] shadow">
<%= link_to root_path do %>
  <%= image_tag("home.png", alt: "Show Cart", class: "w-[50px] h-[50px] absolute top-2 left-2") %>
<% end %>
          <%= link_to "About", about_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px]  absolute top-3 left-[60px]" %>
          <%= link_to "Contact", contact_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px] absolute top-3 left-[130px]" %>
          <%= link_to "Shop", books_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px] absolute top-3 left-[220px]" %>
          <%= link_to "Cart", show_cart_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px] absolute top-3 left-[290px]" %>
</nav>

<div class="container mx-auto py-8">
  <%= form_tag(books_path, method: "get", class: "mb-4") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search books...", class: "w-full border border-gray-300 rounded px-4 py-2" %>
    <%= submit_tag "Search", class: "mt-2 bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
  <h1 class="text-3xl font-bold mb-6">All Books</h1>


  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <% @books.each do |book| %>
      <div class="bg-white rounded-lg shadow-md">
        <div class="overflow-hidden rounded-t-lg">
          <%= image_tag book.book_image, class: "w-full" %>
        </div>
        <div class="p-6">
          <h2 class="text-xl font-semibold mb-2"><%= book.book_name %></h2>
          <p class="text-gray-700 mb-4"><%= book.book_desc %></p>
          <p class="text-gray-600 mb-2">Author: <%= book.book_author %></p>
          <p class="text-gray-600 mb-2">Publisher: <%= book.book_publisher %></p>
          <p class="text-gray-600 mb-2">Genre: <%= book.book_genre %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @books%>
</div>
