<nav class="bg-gray-800 h-[100px] shadow">
<%= link_to root_path do %>
  <%= image_tag("home.png", alt: "Show Cart", class: "w-[50px] h-[50px] absolute top-2 left-2") %>
<% end %>
          <%= link_to "About", about_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px]  absolute top-3 left-[60px]" %>
          <%= link_to "Contact", contact_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px] absolute top-3 left-[130px]" %>
          <%= link_to "Shop", books_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px] absolute top-3 left-[220px]" %>
          <%= link_to "Cart", show_cart_path, class: "text-gray-300 px-3 py-2 rounded-md text-[20px] font-[20px] absolute top-3 left-[290px]" %>
</nav>

<div>
  <h1 class="font-bold text-4xl">Contact Page</h1>
  <div>
  <% if @contact %>
  <h1><%= @contact.title %></h1>
  <p><%= @contact.content %></p>
    <% else %>
      <p>No content added yet</p>
    <% end %>
</div>
</div>

</div>
